<header class="guide-header">
    <img class="guide-logo" src="./assets/RCONTROLE.png" alt="R#CONTROLE" />
    <div class="header-title-row">
        <div class="header-title" id="header-title">R#BD</div>
        <div class="header-meta">© 2025 APPLETON - RTE R#CONTROLE</div>
    </div>
    <div class="header-divider"></div>
    <nav class="guide-nav">
        <a class="nav-button" href="./index.html" data-page="home">Accueil</a>
        <a class="nav-button" href="./web/pages/templates-ru.html" data-page="templates-ru">Templates RU</a>
        <a class="nav-button" href="#" aria-disabled="true" data-page="templates-visite">Templates Visite</a>
        <a class="nav-button" href="#" aria-disabled="true" data-page="templates-cvs">Templates CVS</a>
        <a class="nav-button" href="#" aria-disabled="true" data-page="templates-mvs">Templates MVS</a>
        <a class="nav-button" href="#" aria-disabled="true" data-page="parametres">Paramètres</a>
    </nav>
</header>